<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Patrick Laughrea">
	<meta name="description" content="Site web personnel de Patrick Laughrea">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<script src="/static/js/infoBox.js"></script>
	<title>{{ page.title }}</title>
</head>
<body>
	<a class="anchor" id="top"></a>
	<div id="topMenu">
		<p id="printMenu">Patrick Laughrea - {{ page.title }}</p>
		<div id="back">
			<ul id="topMenuList">
				<li><a href="/fr/">Profil</a></li>
				<li><a href="/fr/programming">Programmation</a></li>
				<li><a href="/fr/music">Musique</a></li>
				<li><a href="/fr/blog">Blog</a></li>
				<li><a href="/fr/contact">Contact</a></li>
			</ul>
		</div>
	</div>
	<div id="content">
		<div class="infoBox" id="constructionBox">
			<p>Site web en construction</p>
			<div class="infoBoxClose" onclick="closeBox('constructionBox')">&times;</div>
		</div>
		<div class="infoBox" id="languageBox">
			<a href="/en/{{ page.link }}">See this page in English</a>
			<div class="infoBoxClose" onclick="closeBox('languageBox')">&times;</div>
		</div>
		
		{{ content }}
		
		<div id="topButton"><a href="#top">&uarr;</a></div>
		<footer>
			<a id="linkLanguage" href="/en/{{ page.link }}">In English</a>
			<br>
			Dernière modification : {{ page.last-modif }}
			<br>
			&copy; 2017 Patrick Laughrea
		</footer>
	</div>
</body>
</html>