---
layout: en/default
title: Blog
link: blog
last_modif: 2018-09-23
permalink: /en/blog
redirect_from: /blog
---
<p>
	I'm not sure what will be the purpose of this blog, but for now I will
	attempt to just make it a place where I put my philosophical take and my
	personal thoughts on some subjects. Eventually, my aim is to make the text
	more robust by basing ideas on the real world rather than just on a
	philosophical or personal point of view.
</p>
<br>
<ol class="blog-list-title">
	{% for post in site.posts %}
	<li><a href="#{{ post.title | slugify }}">{{ post.title }}</a></li>
	{% endfor %}
</ol>
<br>
<ul class="blog-list">
	{% for post in site.posts %}
	<a class="anchor" id="{{ post.title | slugify }}"></a>
	<li>
		<h1><a href="#{{ post.title | slugify }}">{{ post.title }}</a></h1>
		<h6>Last edited on {{ post.last_modif }}</h6>
		<div class="blog-content">{{ post.content }}</div>
	</li>
	{% endfor %}
</ul>