$letter-spacing: 0.0625em;
$bg-color-menu: #BBFBBB;
$bg-color-body: #EEFEEE;
$bg-color-body-paler: #F3FEF3;
$bg-color-btn-hover: #CEFECE;
$color-content-title: #00AA00;
$color-border-menu: #A0EAA0;
$font-stack-list: Arial, Helvetica, sans-serif;
$width-border-content: 0.25rem;
