<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ layout.meta_description }} {{ site.author }}">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<script src="/static/js/info-box.js"></script>
	<title>{{ page.title }}</title>
</head>
<body>
	<a class="anchor" id="top"></a>
	<div id="top-menu">
		<p id="print-menu">{{ site.author }} - {{ page.title }}</p>
		<div id="back">
			<ul id="top-menu-list">
				<li><a href="/{{ layout.lang_main }}/">{{ layout.top_menu[0] }}</a></li>
				{% assign top_menu_size_index_0 = layout.top_menu.size | minus: 1 %}
				{% for i in (1..top_menu_size_index_0) %}
				<li><a href="/{{ layout.lang_main }}/{{ layout.top_menu[i] | downcase | replace: " ", "-" }}">{{ layout.top_menu[i] }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div id="content">
		{% assign id_construction_box = 'construction-box' %}
		<div class="info-box" id="{{ id_construction_box }}">
			<p>{{ layout.info_box_construction }}</p>
			<div class="info-box-close" onclick="closeBox('{{ id_construction_box }}')">&times;</div>
		</div>
		{% assign id_language_box = 'language-box' %}
		<div class="info-box" id="{{ id_language_box }}">
			<a href="/{{ layout.lang_other }}/{{ page.link }}">{{ layout.info_box_lang }}</a>
			<div class="info-box-close" onclick="closeBox('{{ id_language_box }}')">&times;</div>
		</div>
		
		{% if page.content_list %}
		<div id="main">
			{% if page.has_error == nil %}
			<div id="quick-list-block">
				<ul id="quick-list">
					{% for item in page.quick_list %}
                    {% if item.size > 0 %}
					<li><a href="#{{ item | downcase | replace: " ", "-" }}">{{ item }}</a></li>
                    {% endif %}
					{% endfor %}
				</ul>
			</div>
			{% endif %}
			<ul id="content-list">
				{% assign content_list_size_index_0 = page.content_list.size | minus: 1 %}
				{% for i in (0..content_list_size_index_0) %}
				<li>
					{% if page.has_error == nil %}
                    {% if page.quick_list[i].size > 0 %}
					<a class="anchor" id="{{ page.quick_list[i] | downcase | replace: " ", "-" }}"></a>
                    {% endif %}
					<p class="content-title">{{ page.quick_list[i] }}</p>
					{% else %}
					<p class="content-title error-color">{{ page.quick_list[i] }}</p>
					{% endif %}
					<p class="content-text">
						{{ page.content_list[i] }}
					</p>
				</li>
				{% endfor %}
			</ul>
		</div>
		{% else %}
		{{ content }}
		{% endif %}
		
		<div id="top-button"><a href="#top">&uarr;</a></div>
		<footer>
			<a id="link-language" href="/{{ layout.lang_other }}/{{ page.link }}">{{ layout.info_box_lang }}</a>
			<br>
			{{ layout.last_modif_msg }} {{ page.last_modif }}
			<br>
			&copy; 2017 {{ site.author }}
		</footer>
	</div>
</body>
</html>