<!DOCTYPE html>
<html lang="{{ layout.lang_main }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ layout.meta_description }} {{ site.author }}">
	<link rel="canonical" href="https://pat-laugh.ca/{{ layout.lang_main }}/{{ page.link }}">
	<link rel="stylesheet" type="text/css" href="/static/scss/style.css">
	<script src="/static/js/info-box.js"></script>
	<title>{{ page.title }} - {{ site.author }}</title>
</head>
<body>
	<a class="anchor" id="top"></a>
	<div id="top-menu">
		<div id="print-menu">{{ page.title }} - {{ site.author }}</div>
		<div id="back-menu">
			<ul id="top-menu-list">
				<li><a href="/{{ layout.lang_main }}/">{{ layout.top_menu[0] }}</a></li>
				{% assign top_menu_size_index_0 = layout.top_menu.size | minus: 1 %}
				{% for i in (1..top_menu_size_index_0) %}
				<li><a href="/{{ layout.lang_main }}/{{ layout.top_menu[i] | slugify }}">{{ layout.top_menu[i] }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div id="content">
		<div style="display: flex;">
			{% assign id_language_box = 'language-box' %}
			<div class="info-box-margin" id="{{ id_language_box }}-m1"></div>
			<div class="info-box" id="{{ id_language_box }}" style="flex: 4;">
				<a href="/{{ layout.lang_other }}/{{ page.link }}">{{ layout.info_box_lang }}</a>
				<div class="info-box-close" onclick="closeBox('{{ id_language_box }}')">&times;</div>
			</div>
			<div class="info-box-margin" id="{{ id_language_box }}-m2"></div>
		</div>
		
		{% if page.content_list %}
		<div id="main">
			{% if page.has_error == nil %}
			<div id="quick-list-block">
				<ul id="quick-list">
					{% for item in page.quick_list %}
                    {% if item.size > 0 %}
					<li><a href="#{{ item | slugify }}">{{ item }}</a></li>
                    {% endif %}
					{% endfor %}
				</ul>
			</div>
			{% endif %}
			<ul id="content-list">
				{% assign content_list_size_index_0 = page.content_list.size | minus: 1 %}
				{% for i in (0..content_list_size_index_0) %}
				<li>
					{% if page.has_error == nil %}
                    {% if page.quick_list[i].size > 0 %}
					<a class="anchor" id="{{ page.quick_list[i] | slugify }}"></a>
                    {% endif %}
					<div class="content-title">
						{% if page.put_link and page.put_link[i] %}
						<a href="{{ page.put_link[i] }}">{{ page.quick_list[i] }}</a>
						{% else %}
						{{ page.quick_list[i] }}
						{% endif %}
					</div>
					{% else %}
					<div class="content-title error-color">{{ page.quick_list[i] }}</div>
					{% endif %}
					<div class="content-text">
						{{ page.content_list[i] }}
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
		{% else %}
		{{ content }}
		{% endif %}
		
		<div id="top-button"><a href="#top">&uarr;</a></div>
		<footer>
			<a id="link-language" href="/{{ layout.lang_other }}/{{ page.link }}">{{ layout.info_box_lang }}</a>
			<br>
			{{ layout.last_modif_msg }} {{ page.last_modif }}
		</footer>
	</div>
</body>
</html>